pytest-cov
aspectlib==2.0.0
async-timeout==5.0.1
dotenv==0.9.9
elastic-transport==8.17.1
elasticsearch==8.10.1
numpy==2.0.2
pandas==2.2.3
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
schedule==1.2.2