pytest-cov
aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
altgraph==0.17.4
anyio==4.9.0
aspectlib==2.0.0
async-timeout==5.0.1
attrs==25.3.0
azure-core==1.34.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
dotenv==0.9.9
elastic-transport==8.17.1
elasticsearch==8.10.1
et_xmlfile==2.0.0
exceptiongroup==1.3.0
fields==5.0.0
frozenlist==1.7.0
greenlet==3.2.1
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
Jinja2==3.1.6
MarkupSafe==3.0.2
microsoft-kiota-abstractions==1.9.3
microsoft-kiota-authentication-azure==1.9.3
microsoft-kiota-http==1.9.3
modules==1.0.0
msgraph-core==1.3.4
multidict==6.4.4
numpy==2.0.2
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
packaging==25.0
pandas==2.2.3
pdfminer.six==20250327
pdfplumber==0.11.6
pefile==2023.2.7
pillow==11.2.1
playwright==1.51.0
propcache==0.3.2
pycparser==2.22
pyee==12.1.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pyodbc==5.2.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyspnego==0.11.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.32.3
schedule==1.2.2
six==1.17.0
smbprotocol==1.15.0
sniffio==1.3.1
sspilib==0.3.0
std-uritemplate==2.0.5
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
yarl==1.20.1
zipp==3.23.0
